*,
*::before,
*::after{
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
.first-slide{
    padding-bottom: 2.5rem;
    background-color: #070A13;
}
.container{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1.75rem;
    padding-right: 1.75rem;    
}
.container-image{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    margin-left: 4rem;
    margin-right: 4rem;
}
.container img{
    height: 100%;
    width: 100%;
    border-radius: 25px;
    min-width: 100px;
    min-height: 100px;
    max-width: 550px;
    max-height: 550px;
}
.container img:hover{
    box-shadow: 0 0 20px 0px rgb(255, 0, 174);
    transition-duration: 0.3s;
}
.container-text{
    color: white;
    font-family: 'General Sans', sans-serif;
}
.container-text h1{
    font-size: 40px;
    margin-bottom: 0;
}
.container-text h3{
    margin-top: 7px;
}
.container-text p{
    margin-top: 12px;
    margin-bottom: 20px;
    font-size: 17px;
    padding-bottom: 6px;
    text-align: justify;
}
.buttons{
    display: flex;
    flex-direction: column;
}
.coffee{
    text-decoration: none;
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 5px;    
    width: 155px;
}
.coffee p{
    font-family: 'General Sans', sans-serif;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: rgba(102, 102, 102, 0.785);
    padding: 10px;
    border-style: solid;
    border-color: rgb(59, 0, 40);
    border-width: 2px;
    border-radius: 5px;
}
.coffee p:hover{
    background-color: #0a0f1b;
    box-shadow: 0 0 8px 0 rgb(255, 0, 174);
    border-width: 2px;
    border-color: rgba(17, 16, 16, 0.76);
}
.project{
    text-decoration: none;
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 5px;    
    background-color: rgb(59, 0, 40);
    width: 165px;
    margin-top: 15px;
}
.project p{
    font-family: 'General Sans', sans-serif;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: rgba(125, 125, 125, 0.785);
    padding: 11px;
}
.project:hover{
    background-color: #0a0f1b;
    box-shadow: 0 0 8px 2px rgba(36, 36, 36, 0.963);
}

/* ---------------------------------- */
.second-slide{
    padding-bottom: 96px;
}
.container2{
    padding: 32px 16px;
}
.gradpic img{
    height: 100%;
    width: 100%;
}
.container-about{
    font-family: 'General Sans', sans-serif;
    text-align: justify;
}
.container-about h1{
    font-size: 35px;
    margin-bottom: 8px;
}
.container-about h4{
    font-size: 18px;
    color: rgb(99, 99, 108);
    font-weight: bold;
}
.sex{
    font-size: 14px;
    color: rgb(99, 99, 108);
    font-weight: lighter;
    margin-bottom: 8px;
}
.location{
    margin: 0 24px 12px 0;
    color: rgb(99, 99, 108);
    font-size: 15px;
}
.location svg{
    height: 14px;
}
.email{
    margin: 0 24px 12px 0;
    color: rgb(99, 99, 108);
    font-size: 15px;
}
.email svg{
    height: 12px;
}
.social{
    margin: 0 24px 24px 0;
    color: rgb(99, 99, 108);
    font-size: 15px;
}
.social svg{
    height: 14px;
}
.p1{
    padding-bottom: 16px;
    color: rgb(99, 99, 108);
    font-size: 16px;
}
.p2{
    color: rgb(99, 99, 108);
    font-size: 16px;
}
.container-image2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 32px;
    grid-gap: 1rem;
}
.cert img{
    width: 100%;
    border-radius: 10px;
}
.gradpic{
    margin-top: 16px;
}
.gradpic img{
    width: 100%;
    border-radius: 10px;
}


@media only screen and (min-width: 768px) {
    .container{
        display: flex;
        padding: 64px 28px;
    }
    .container-text_button{
        position: relative;
    }
    .container-image{
        margin: 20px 0 40px 0;
        padding: 0 120px 0 120px;
    }
    .container-text{
        right: 0;
        margin-right: 15px;
    }
    .container-image img{
        height: 260px;
        width: 260px;
    }
    .container-text h1{
        font-size: 50px;
    }
    .container-text h3{
        margin-top: 12px;
    }
    .container-text p{
        margin-top: 15px;
        margin-right: 15px;
        font-size: 20px;
    }
    .buttons{
        display: flex;
        flex-direction: row;
    }
    .project{
        margin-top: 0;
        margin-left: 15px;
    }
}