html, body{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(2,0,42,1) 48%, rgba(0,0,0,1) 100%);
    color: aliceblue;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

/* for the header */
.header-container{
    display: none;
}
.nav-bar #text-logo{
    height: 35px;
    border-radius: 6px;
    margin: 12px 0;
}
.nav-bar {
    overflow: hidden;
    position: relative;
    margin: 10px 10px;
}
.nav-bar #myLinks {
    display: none;
}
.nav-bar a {
    color: white;
    padding: 10px 0;
    text-decoration: none;
    font-size: 17px;
    display: block;
    text-align: center;
    border-bottom: 0.2px solid rgb(42, 40, 63);
}
.nav-bar a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px 12px;
    border-radius: 12px;
    border-bottom: black;
    font-size: 25px;

}
.nav-bar a:hover {
    background-color: #595959;
}

/* for the main content */
.container{
    display: grid;
    margin-top: 70px;
}
.desc{
    display: grid;
}
.desc-container{
    justify-items: center;
    align-self: center;
    padding: 0 5%;
}
h5{
    font-size: 12px;
    margin: 0;
    font-weight: 100;

}
h1{
    font-size: 60px;
    margin: 0;
    font-weight: 600;
    text-shadow: 2px 2px  rgb(255, 0, 93);
}
h3{
    margin-top: 0;
    font-size: 15px;
}
p{
    text-align: center;
    font-size: 15px;
    line-height: 1.6;
    color: #7b7e90;
    margin: 6px 0;
}
.buttons{
    margin-top: 30px;
    display: grid;
    width: 100%;
    height: 140px;
}
.contact-container{
    display: grid;
}
.contact{
    height: 100%;
    width: 150px;
    background-color: rgb(55, 3, 25);
    place-self: center;
    place-content: center;
    text-align: center;
    border-radius: 7px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    
}
.project-container{
    display: grid;
    margin-top: 15px;
}
.project{
    height: 100%;
    width: 150px;
    place-self: center;
    place-content: center;
    text-align: center;
    border-radius: 7px;
    text-decoration: none;
    color: white;
    border: #7b7e90 solid 0.5px;
    font-size: 14px;
}

.main{
    display: grid;
    margin: 50px 0;
}
.main-container{
    align-self: center;
    display: grid;
    justify-items: center;
}
.img-container{
    display: grid;
}
.animated-photo{
    height: 270px;
    border-radius: 25px;
}
.animated-photo:hover{
    box-shadow: 0 0 15px 0 rgb(255, 0, 93);
    
}
.social-media{
    height: 60px;
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    place-self: center;
}
.fa {
    text-decoration: none;
    display: grid;
    font-size: 50px;
}
.fa:hover {
    opacity: 0.7;
    color: white;
}
.fa-facebook {
    color: rgb(10, 76, 183);
    place-self: center; 
}
.fa-twitter {
    color: rgb(30, 151, 199);
    place-self: center; 
}
.fa-instagram{
    color: rgb(194, 0, 142);
    place-self: center; 
}
.fa-github{
    color: white;
    place-self: center; 
}


/* for desktop */
@media only screen and (min-width: 769px) {

    html, body{
        overflow-x: hidden;
    }   

    /* for the header */
    header{
        position: fixed;
    }
    .nav-bar{
        display: none;
    }
    header{
        width: 100%;
    }
    .header-container{
        display: grid;
        width: 100%;
        height: 65px;
        grid-template-columns: 50% 50%;
    }
    .logo{
        display: grid;
        width: 100%;
        padding-left: 25px;
        justify-content: start;
    }
    .text-photo{
        height: 25px;
        place-self: center;
    }
    .drop-button{
        display: none;
    }
    .nav-buttons{
        display: grid;
        justify-items: center;
    }
    ul{
        list-style-type: none;
        padding: 0;
    }
    li{
        display: inline;
    }
    li a{
        float: left;
        text-decoration: none;
        color: aliceblue;
        padding: 18px;
        font-size: 17px;
    }

    /* for the main content */
    .container{
        height: 100vh;
        grid-template-columns: 50% 50%;
        margin-top: 0;
    }
    
    .desc{
        width: 100%;
    }
    .desc-container{
        padding: 0 15px;
    }
    h5{
        font-size: 20px;
    }
    h1{
        font-size: 80px;
    }
    h3{
        font-size: 25px;
    }
    p{
        font-size: 16px;
        font-weight: 300;
        margin: 20px 0;
        max-width: 550px;
    }
    .buttons{
        grid-template-columns: 50% 50%;
        height: 50px;
    }
    .contact-container{
        justify-content: end;
    }
    .contact{
        margin-right: 20px;
    }
    .project-container{
        justify-content: start;
        margin-top: 0;
    }
    .project{
        margin-left: 20px;
    }

    .main{
        width: 100%;
        border-left: 1px solid rgb(42, 40, 63);
        margin: 0;
    }
    .animated-photo{
        height: 380px;
    }
    .social-media{
        width: 60%;
        margin-top: 15px;
    }

}